body > header img{
    width:100%;
}

h2{
    text-align:center;
}

article#booktitle, aside#note{
    background-color: lightgrey;
} 

nav > ol > li{
    text-transform: lowercase;
}

nav > ol > li::first-letter{
    text-transform: capitalize;
}

section#regulations{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Alcatraz_Island_as_seen_from_the_East.jpg/1280px-Alcatraz_Island_as_seen_from_the_East.jpg");
    background-repeat: 
}

article.rule {
    padding: 0.5em 1em;
    border: 1px dotted;
}

article.rule>h3 {
    display: inline;
}

article.rule::first-line {
    font-variant: small-caps;
}

article.rule::first-letter {
    font-size: 2em;
}